body {
  background-color: #000000;
}
.section {
  background: #0f0f0f;
  font-family: Garamond;
}

#title{
  background: #fff4b8;
  font-family: 'Monoton', cursive;
}

#game{
  background: #888888;
}

#refresh{
  background: #444;
}

.cat_pic{

}

.chart{

}

#player1 {
  float: left;
}

#player2 {
  float: right;
}
